.logo{
    width: 180px;
}

.headerActions{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: auto;
}

.headerLinks{
    display: flex;
    gap: 20px;
}

.headerLink {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 500;
    transition: color var(--transition-fast);
    display: flex;
    gap: 5px;
    align-items: center;
}

.headerLink img{
    width: 20px;
}

.countFavorites{
    padding: 2px 5px;
    background-color: var(--secondary);
    color: #FFFFFF;
    border-radius: 50px;
    margin-left: 5px;
}

.active {
    color: var(--primary);
}

@media (max-width: 768px){
    .logo{
        width: 120px;
    }
    
    .headerActions{
        gap: 15px;
    }

    .headerLinks{
        gap: 15px;
    }

    .headerLink {
        font-size: 16px;
    }

    .headerLink img{
        display: none;
    }

    .countFavorites{
        font-size: 12px;
    }
}

@media (max-width: 490px){
    .logo{
        width: 95px;
    }
    
    .headerActions{
        gap: 10px;
    }

    .headerLink {
        font-size: 14px;
    }

    .headerLinks{
        gap: 10px;
    }
}

@media (max-width: 420px){
    .logo{
        width: 80px;
    }
    
    .headerActions{
        gap: 7px;
    }

    .headerLink {
        font-size: 12px;
    }

    .headerLinks{
        gap: 7px;
    }

    .headerLink{
        gap: 3px;
    }

    .countFavorites{
        font-size: 10px;
    }
}