:root{
  /* Backgrounds */
  --bg-primary: #080A14;
  --bg-secondary: #13172d;
  --bg-card: #0a0e20;
  --bg-card-hover: #1a1e33;

  /* Borders */
  --border-color: #33353e;
  --border-hover: #60626f;

  /* Brand */
  --primary: #9B4DFF;
  --primary-hover: #AD68FF;
  --secondary: #E84BCB;
  --secondary-hover: #D93AA5;

   /* Text */
  --text-primary: #F7F7FB;
  --text-secondary: #cbcede;
  --text-muted: #808498;

  /* Status */
  --success: #48D597;
  --error: #FF5577;
  --warning: #FFC857;

  /* Effects */
  --shadow-card: 0 8px 30px rgba(0, 0, 0, 0.25);
  --shadow-glow: 0 0 25px rgba(155, 77, 255, 0.25);

  /* Radius */
  --radius-sm: 10px;
  --radius-md: 20px;
  --radius-lg: 30px;
  --radius-xl: 50px;

  /* Spacing */
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;

  /* Animations */
  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;
  --transition-slow: 350ms ease;
}

[data-theme="light"] {
  /* Background */
  --bg-primary: #F7F5FB;
  --bg-secondary: #FFFFFF;
  --bg-card: #FFFFFF;
  --bg-card-hover: #FCFAFF;

  /* Borders */
  --border-color: #E9E5F0;
  --border-hover: #D8CBEA;

  /* Text */
  --text-primary: #17152A;
  --text-secondary: #42404e;
  --text-muted: #76757b;

  /* Shadows */
  --shadow-card: 0 8px 30px rgba(55, 35, 85, 0.07);
  --shadow-glow: 0 0 25px rgba(139, 77, 232, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: var(--spacing-md) var(--spacing-lg);
}

header{
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  justify-content: space-between;
}

footer{
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  justify-content: end;
}

.logo{
  width: 220px;
}

.header-links{
  display: flex;
  gap: var(--spacing-md);
}

.header-links a{
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  transition: color var(--transition-fast);
}

.header-links a:hover {
  color: var(--primary);
}

.header-links a.active {
  color: var(--primary);
}