.themeToggle{
    background-color: var(--bg-card);
    border-radius: var(--radius-xl);
    display: flex;
    border: none;
}

.optionThemeToggle{
    padding: 10px 20px;
    border-radius: var(--radius-xl);
    margin: 2px;

    img{
        width: 20px;
    }
}

.optionThemeToggle.active{
    background-color: var(--primary);
}

@media (max-width: 768px){
    .optionThemeToggle{
        padding: 5px 10px;
    }
}

@media (max-width: 420px){
    .optionThemeToggle{
        padding: 5px 7px;

        img{
            width: 15px;
        }
    }
}